<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Seed™ Weather</title>

    <link type="text/css" href="resources/css/style.css" rel="stylesheet"/>

    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>

    <script type="text/javascript">

        var seedApp = angular.module('seedApp', []);

    </script>

    <script type="text/javascript" src="resources/js/controllers/configuration_controller.js"></script>
    <script type="text/javascript" src="resources/js/controllers/forecast_controller.js"></script>

    <script type="text/javascript" src="resources/js/filters/format_temperature_filter.js"></script>
    <script type="text/javascript" src="resources/js/filters/add_temperature_unit_filter.js"></script>
    <script type="text/javascript" src="resources/js/filters/format_speed_filter.js"></script>
    <script type="text/javascript" src="resources/js/filters/add_speed_unit_filter.js"></script>
    <script type="text/javascript" src="resources/js/filters/weather_icon_filter.js"></script>

</head>
<body ng-app="seedApp">

<div id="navbar">Seed™ Weather</div>

<div id="container">

    <div id="sidebar" ng-controller="ConfigurationController">
        Units: metric imperial
    </div>

    <div id="main" ng-controller="ForecastController">

        <div class="tile loader" ng-hide="weatherDetails.list.length > 0"></div>

        <div class="tile" ng-repeat="currentCityWeather in weatherDetails.list">
            <span class="city_name">{{currentCityWeather.name}}</span>
            <span class="weather_type">{{currentCityWeather.weather[0].main}}</span>
            <span class="current_temperature">{{currentCityWeather.main.temp | formatTemperature | addTemperatureUnit}}</span>

            <div class="details">

                <span class="weekday">Tuesday</span>
                <span class="wind">
                    <img class="wind_icon" src="resources/images/wind-arrow.png" style="transform: rotate({{currentCityWeather.wind.deg}}deg);" />
                    <span class="wind_speed">{{currentCityWeather.wind.speed | formatSpeed | addSpeedUnit}}</span>
                </span>

                <div style="clear: both;"></div>

                <span class="separator"></span>

                <div class="today_hours">

                    <div class="hour_details" ng-repeat="currentHourlyForecast in hourlyForecast[currentCityWeather.id].list | limitTo: 6" ng-if="$index > 0">

                        <span class="hour_time">{{currentHourlyForecast.dt * 1000 | date:'shortTime'}}</span>
                        <span class="hour_icon" style="background-image: url('{{currentHourlyForecast.weather[0].icon | weatherIcon}}');"></span>
                        <span class="hour_temperature">{{currentHourlyForecast.main.temp | formatTemperature | addTemperatureUnit}}</span>

                    </div>

                    <div style="clear: both;"></div>

                </div>

                <span class="separator"></span>


            </div>

        </div>

    </div>

    <span style="clear: both;"></span>

</div>


</body>
</html>
