@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500);

html, body{

    $darkBGColor: #353533;
    $lightBGColor: #f5f3f1;

    $navbarHeight: 50px;

    margin: 0;
    padding: 0;

    height: 100%;

    background-color: $lightBGColor;

    font-family: 'Roboto', sans-serif;

    div#navbar{

        width: 100%;
        height: $navbarHeight;
        line-height: $navbarHeight;
        position: fixed;

        background-color: $darkBGColor;
        color: $lightBGColor;

        -webkit-box-shadow:inset 1px -4px 9px -6px #000000;
        box-shadow:inset 1px -4px 9px -6px #000000;

        font-weight: 100;
        font-size: 20px;

        padding-left: $navbarHeight/3;

    }

    div#container {

        height: 100%;
        padding-top: $navbarHeight;

        div#sidebar {

            height: 100%;
            width: 300px;
            float: left;

            background-color: $darkBGColor;
            color: $lightBGColor;

            overflow: hidden;

        }

        div#main {

            overflow: hidden;
            height: 100%;

            > div.tile {

                background-color: white;
                width: 450px;
                height: 450px;

                margin-left: 50px;
                margin-top: 50px;

                -webkit-box-shadow: 1px 2px 3px 0 rgba(0,0,0,0.15);
                box-shadow: 1px 2px 3px 0 rgba(0,0,0,0.15);

                display: inline-block;

            }

        }

    }

}
