@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500);

html, body{

    $darkBGColor: #353533;
    $lightBGColor: #f5f3f1;

    $navbarHeight: 50px;
    $sidebarWidth: 300px;

    margin: 0;

    height: 100%;

    background-color: $lightBGColor;

    font-family: 'Roboto', sans-serif;

    div#navbar{

        width: 100%;
        height: $navbarHeight;
        line-height: $navbarHeight;
        position: fixed;

        background-color: $darkBGColor;
        color: $lightBGColor;

        -webkit-box-shadow:inset 1px -4px 9px -6px #000000;
        box-shadow:inset 1px -4px 9px -6px #000000;

        font-weight: 100;
        font-size: 20px;

        padding-left: $navbarHeight/3;

        z-index: 2;

    }

    div#container {

        // height: 100%;
        padding-top: $navbarHeight;
        position: relative;

        div#sidebar {


            width: $sidebarWidth;
            position: fixed;
            height: 100%;


            // padding-top: $navbarHeight;

            top: $navbarHeight;
            left: 0;
            bottom: 0;


            background-color: $darkBGColor;
            color: $lightBGColor;

            overflow: hidden;

        }



    }

    div#main {

        // overflow: hidden;
        // height: 100%;

        padding-left: $sidebarWidth;

        padding-bottom: 50px;

        > div.tile {

            $tileWidth: 450px;

            background-color: white;
            width: $tileWidth;
            height: 550px;

            margin-left: 50px;
            margin-top: 50px;

            -webkit-box-shadow: 1px 2px 3px 0 rgba(0,0,0,0.15);
            box-shadow: 1px 2px 3px 0 rgba(0,0,0,0.15);

            float: left;
            position: relative;

            overflow: auto;

            &:last-of-type{
                margin-bottom: 50px;
            }

            span.city_name{

                font-size: 35px;
                display: block;
                text-align: center;

                margin-top: 40px;
                font-weight: 100;

            }

            span.weather_type{

                font-size: 20px;
                font-weight: 300;

                display: block;
                text-align: center;
                margin-top: 5px;


            }

            span.current_temperature{

                font-size: 60px;
                font-weight: 100;

                display: block;
                text-align: center;
                margin-top: 25px;

            }

            div.details{

                $detailPadding: 25px;
                padding: $detailPadding;

                span.weekday{
                    float: left;
                }

                span.wind{

                    float: right;

                    span.wind_icon{

                    }

                    span.wind_speed{
                        display: inline-block;
                        margin-left: 5px;
                    }



                }

                span.weekday, span.wind_speed{

                    font-size: 20px;
                    font-weight: 300;

                }

                span.separator{

                    display: block;

                    width: 100%;
                    height: 1px;

                    margin-top: 10px;
                    margin-bottom: 10px;

                    background-color: $lightBGColor;


                }

                div.today_hours{

                    $todayHourWidth: $tileWidth - 2*$detailPadding;
                    $hourCount: 5;

                    div.hour_details{

                        width: $todayHourWidth / $hourCount;
                        float: left;

                        font-weight: 300;

                        span.hour_time, span.hour_icon, span.hour_temperature{

                            display: block;
                            text-align: center;

                        }

                        span.hour_icon{

                            height: 50px;

                            background-repeat: no-repeat;
                            background-position: center;

                        }

                    }

                }

            }

        }

    }

}
