@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500);

html, body{

    $darkBGColor: #353533;
    $darkBGAlternateColor: #434240;
    $darkBGBorderColor: #595755;
    $darkBGColorPressed: #1c1c1b;

    $lightBGColor: #f5f3f1;

    $greenColor: #2bcf8b;
    $redColor: #ce1d23;

    $navbarHeight: 50px;
    $sidebarWidth: 300px;

    margin: 0;

    height: 100%;

    background-color: $lightBGColor;

    font-family: 'Roboto', sans-serif;

    span.toggle{

        $height: 30px;

        display: inline-block;
        position: relative;

        margin-top: 15px;
        margin-bottom: 15px;

        overflow: hidden;

        border-radius: $height / 2;

        span.button{

            float: left;

            background-color: $darkBGAlternateColor;
            color: $lightBGColor;

            font-weight: 400;
            font-size: 13px;

            height: $height;
            line-height: $height;

            padding-left: 20px;
            padding-right: 20px;

            &:not(:last-of-type){
                border-right: 1px solid $darkBGBorderColor;
            }

            &.active{

                background-color: $darkBGColorPressed;

            }

            &:not(.active):hover{

                background-color: #2d2d2c;
                cursor: pointer;

            }

        }

    }


    div#navbar{

        width: 100%;
        height: $navbarHeight;
        line-height: $navbarHeight;
        position: fixed;

        background-color: $darkBGColor;
        color: $lightBGColor;

        -webkit-box-shadow:inset 1px -4px 9px -6px #000000;
        box-shadow:inset 1px -4px 9px -6px #000000;

        font-weight: 100;
        font-size: 20px;

        padding-left: $navbarHeight/3;

        z-index: 2;

    }

    div#container {

        // height: 100%;
        padding-top: $navbarHeight;
        position: relative;

        div#sidebar {


            width: $sidebarWidth;
            position: fixed;
            height: 100%;


            // padding-top: $navbarHeight;

            top: $navbarHeight;
            left: 0;
            bottom: 0;


            background-color: $darkBGColor;
            color: $lightBGColor;

            overflow: hidden;

            span.button_container{

                display: block;
                text-align: center;

            }

            input[type=text]{

                outline: none;
                border: none;

                display: block;

                background-color: $darkBGAlternateColor;
                color: $lightBGColor;

                height: 30px;
                border-radius: 15px;
                padding-left: 15px;
                padding-right: 15px;

                margin: auto;
                margin-bottom: 15px;

                font-size: 13px;
                font-weight: 300;

                text-align: center;


            }

            div.city{

                padding: 15px;

                &:nth-of-type(even){
                    background-color: $darkBGAlternateColor;
                }

                span.weather_icon{

                    width: 40px;
                    height: 40px;

                    display: block;
                    float: left;

                    background-repeat: no-repeat;
                    background-position: center;

                    margin-right: 15px;

                }

                div.general{

                    float: left;

                    span.city_name{

                        display: block;

                        font-size: 16px;
                        font-weight: 100;

                        max-width: 115px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;

                    }
                    span.weather_type{
                        display: block;

                        font-size: 11px;
                        font-weight: 400;

                    }
                    
                }

                div.add, div.remove{

                    float: right;

                    margin-top: 5px;
                    margin-left: 15px;

                    $diameter: 25px;
                    width: $diameter;
                    height: $diameter;
                    line-height: $diameter;

                    text-align: center;
                    color: $lightBGColor;

                    border: 2px solid $lightBGColor;
                    border-radius: 50%;

                    font-weight: 500;

                    cursor: pointer;

                }

                &:hover div.add{
                    color: $greenColor;
                    border-color: $greenColor;
                }
                &:hover div.remove{
                    color: $redColor;
                    border-color: $redColor;
                }

                div.numbers{

                    float: right;
                    text-align: right;

                    span.current_temperature{

                        display: block;

                        font-size: 16px;
                        font-weight: 100;

                    }

                    span.wind_speed{
                        display: block;

                        font-size: 11px;
                        font-weight: 400;
                    }

                }

            }

        }



    }

    div#main {

        // overflow: hidden;
        // height: 100%;

        padding-left: $sidebarWidth;

        padding-bottom: 50px;

        > div.tile {

            $tileWidth: 450px;

            background-color: white;
            width: $tileWidth;
            min-height: $tileWidth;

            margin-left: 50px;
            margin-top: 50px;

            -webkit-box-shadow: 1px 2px 3px 0 rgba(0,0,0,0.15);
            box-shadow: 1px 2px 3px 0 rgba(0,0,0,0.15);

            float: left;
            position: relative;

            overflow: auto;

            &:last-of-type{
                margin-bottom: 50px;
            }

            &.night{
                background-color: #353533;
                color: $lightBGColor;
            }

            span.city_name{

                font-size: 35px;
                display: block;
                text-align: center;

                margin-top: 40px;
                font-weight: 100;

            }

            span.weather_type{

                font-size: 20px;
                font-weight: 300;

                display: block;
                text-align: center;
                margin-top: 5px;

                text-transform: capitalize;


            }

            span.current_temperature{

                font-size: 60px;
                font-weight: 100;

                display: block;
                text-align: center;
                margin-top: 25px;

            }

            div.details{

                $detailPadding: 25px;
                padding: $detailPadding;

                span.weekday{
                    float: left;
                }

                span.wind{

                    float: right;

                    span.wind_icon{

                    }

                    span.wind_speed{
                        display: inline-block;
                        margin-left: 5px;
                    }



                }

                span.weekday, span.wind_speed{

                    font-size: 20px;
                    font-weight: 300;

                }

                span.separator{

                    display: block;

                    width: 100%;
                    height: 1px;

                    margin-top: 10px;
                    margin-bottom: 10px;

                    background-color: $lightBGColor;


                }

                div.today_hours{

                    $todayHourWidth: $tileWidth - 2*$detailPadding;
                    $hourCount: 5;

                    div.hour_details{

                        width: $todayHourWidth / $hourCount;
                        float: left;

                        font-weight: 300;

                        span.hour_time, span.hour_icon, span.hour_temperature{

                            display: block;
                            text-align: center;

                        }

                        span.hour_icon{

                            height: 50px;

                            background-repeat: no-repeat;
                            background-position: center;

                        }

                    }

                }

                div.day_details{

                    margin-bottom: 10px;

                    span.weekday{

                        float: left;

                        font-size: 20px;
                        font-weight: 300;

                    }

                    span.day_temperature{

                        float: right;

                        font-size: 20px;
                        font-weight: 300;

                    }

                }

            }

        }

    }

}
